h1 {color:red;text-align: center;  }
h2 {color: purple;text-align: center};
h3 {color:aquamarine; text-align: center};
p {color:bisque; text-align: center; font-size: medium};
body {background-color: aquamarine};